<div class="p-5" style="background-color:whitesmoke ; color: #5db500">
  <div class="d-flex justify-content-center pb-2">
    <h2>Frequently Asked Questions</h2>
  </div>

  <div class="row p-2">
    <div class="col-sm col-lg-2"></div>
    <div class="col-sm col-lg-3 mb-3">
      <h5>There will be an image here</h5>
      <p>put image here</p>
    </div>
    <div class="col-sm col-lg-5 mb-3">
      <accordion [isAnimated]="true">
        <accordion-group heading="This is the most asked question">
          This is the most asked question
        </accordion-group>
        <accordion-group heading="This is the second most asked question">
          This is the second most asked question
        </accordion-group>
        <accordion-group heading="This is the third most asked question">
          This is the third most asked question
        </accordion-group>
        <accordion-group heading="This is the forth most asked question">
          This is the forth most asked question
        </accordion-group>
      </accordion>
    </div>
    <div class="col-sm col-lg-2"></div>
  </div>
</div>