<div class="p-5" style="background-color: #5db500 ; color: white">
  <div class="row p-2">
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <h2>EPC</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit auctor lectus. Praesent eu
        vestibulum odio,
        sed venenatis justo. Nam sagittis velit libero, quis convallis sapien maximus nec. Proin ac sapien arcu. Integer
        sed
        tortor hendrerit, lobortis lectus quis, bibendum nisl. Nulla sit amet sollicitudin nisi. Morbi dapibus mattis
        dolor
      </p>
    </div>
    <div class="col-sm">
      <p><b>Legal</b></p>
      <p><b>Pricing Policy</b></p>
      <p><b>Terms and Conditions</b></p>
      <p><b>Company Details</b></p>
    </div>
    <div class="col-sm">
      <p><b>Headquarter</b></p>
      <p>221B, Baker Street, London, UK</p>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<div class="d-flex justify-content-center p-1" style="background-color:black; color: white;">
  &copy; copyright ©
</div>