<div class="container">
  <div class="row m-4">
    <div class="col-sm">
      <h2>EPC</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit auctor lectus. Praesent eu
        vestibulum odio,
        sed venenatis justo. Nam sagittis velit libero, quis convallis sapien maximus nec. Proin ac sapien arcu. Integer
        sed
        tortor hendrerit, lobortis lectus quis, bibendum nisl. Nulla sit amet sollicitudin nisi. Morbi dapibus mattis
        dolor,
        eleifend pellentesque ante consequat at. Proin vitae turpis ut massa efficitur viverra. Proin ex enim, pharetra
        at felis
        et, tristique molestie neque. Mauris venenatis lectus urna, eu luctus mi feugiat eu. Nunc facilisis sem et felis
        posuere, et tempus risus condimentum. Morbi nec velit sit amet urna cursus venenatis nec nec est. Vestibulum et
        consequat justo. Praesent in mi quis ex pretium venenatis at sit amet nunc.
      </p>
    </div>
    <div class="col-sm">
      <p><b>Legal</b></p>
      <p><b>Pricing Policy</b></p>
      <p><b>Terms and Conditions</b></p>
      <p><b>Company Details</b></p>
    </div>
    <div class="col-sm">
      <p><b>Headquarter</b></p>
      <p>221B, Baker Street, London, UK</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center p-1" style="background-color:black; color: white;">
  &copy; copyright ©
</div>