<div class="p-5" style="color: #5db500">
  <div class="row p-2">
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <h2>Contact us</h2>
      <p>
        We're always happy to help, so get in touch today. Communication is simple when there's a way to communicate.
        Place your
        contact details below.
      </p>
      <h2>Phone</h2>
      <p>
        +44 (0) 207 654 321
      </p>
      <h2>Email</h2>
      <p>
        customer.service@epc.com
      </p>

    </div>
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Full Name</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Type your message here"></textarea>
        </div>
        <button class="btn" style="background-color: #5db500; color: white;">Submit</button>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>