<div class="p-4" style="background-color: #5db500; color: white">
  <div class="d-flex justify-content-center pb-2">
    <h2>Our Services</h2>
  </div>

  <div class="row p-2">
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm mb-3">
      <h5>Service 1</h5>
      <p>This is the description of the first service that we provide</p>
      <a href="#" style="color: white;">Learn More ></a>
    </div>
    <div class="col-sm mb-3">
      <h5>Service 2</h5>
      <p>This is the description of the second service that we provide</p>
      <a href="#" style="color: white;">Learn More ></a>
    </div>
    <div class="col-sm mb-3">
      <h5>Service 3</h5>
      <p>This is the description of the third service that we provide</p>
      <a href="#" style="color: white;">Learn More ></a>
    </div>
    <div class="col-sm mb-3">
      <h5>Service 4</h5>
      <p>This is the description of the forth service that we provide</p>
      <a href="#" style="color: white;">Learn More ></a>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
  </div>
</div>